{% extends "rtb.html" %}
{% block title %}<title>Kontakt | Rikstermbanken</title>{% endblock %}
{% block main %}

<h6>Har du fr&aring;gor om Rikstermbanken eller synpunkter p&aring; denna webbplats?</h6>

<p>
    Kontakta Spr&aring;kr&aring;det, Institutet f&ouml;r spr&aring;k och folkminnen:<br/>
    E-postadress: <a class="underlined" href="mailto:terminologi%40isof.se">terminologi@isof.se</a><br/>
    Webbplatsadress: <a class="underlined" href="http://www.isof.se/sprak/facksprak-och-terminologi">www.isof.se/sprak/facksprak-och-terminologi</a>
</p>

{% endblock %}
