{% extends "rtb.html" %}

{% block title %}<title>Termpost | Rikstermbanken</title>{% endblock %}

{% block main %}
                <span class="lankstig">

    
    
    
        <a class="underlined" href="/startSimpleSearch.html">
            Enkel sökning
        </a>
    
    

    
    &gt;
    
    
        
        Termpost
    

</span>

<div class="hr" id="breadcrumb">
    <hr/>
</div>







<table width="100%" style="margin-bottom: 0;">
    <tr>
        <td><h5>Termpost
            
        </h5>
        </td>
        <td align="right">
            
            &nbsp;
        </td>
    </tr>
</table>

{% include 'rtb_termpost_render.html' %}

<table width="100%" style="margin-bottom: 0;">
    <tr>
        <td>
            
                <a class="underlined" href="/startSimpleSearch.html">Ny sökning</a>
            
        </td>
        <td align="right">
            
            &nbsp;
        </td>
    </tr>
</table>
{% endblock %}
