{% extends "rtb.html" %}
{% block title %}<title>Om Rikstermbanken | Rikstermbanken</title>{% endblock %}
{% block main %}
<a name="dettaAr"></a>

<h2>Detta &auml;r Rikstermbanken</h2>

<p>Rikstermbanken &auml;r Sveriges nationella termbank.
    Rikstermbanken inneh&aring;ller <a class="underlined" href="#termerOchBegrepp">termer och begrepp</a> fr&aring;n ett
    stort antal &auml;mnesomr&aring;den. I Rikstermbanken finner du till st&ouml;rsta
    delen termer p&aring; svenska, men ocks&aring; termer p&aring; flera av Sveriges minoritetsspr&aring;k
    och p&aring; andra spr&aring;k, bland annat p&aring; engelska, franska, tyska och ryska.
    Rikstermbanken &auml;r fri och gratis, &ouml;ppen f&ouml;r alla och envar, oavsett om du &auml;r
    journalist, &ouml;vers&auml;ttare, handl&auml;ggare vid en myndighet eller vetgirig vanlig
    medborgare. </p>

<p>Rikstermbanken har byggts upp av Terminologicentrum TNC och
förvaltas sedan 2019 av Språkrådet, Institutet för språk och folkminnen.
</p>

<a name="vadFinns"></a>

<h2>Vad finns i Rikstermbanken?</h2>

<p>Till Rikstermbanken ska du v&auml;nda dig n&auml;r du till exempel</p>

<ul>
    <li><p>vill veta vad ett ord eller uttryck inom ett &auml;mnesomr&aring;de betyder,
        t.ex. <i>biotop</i>
        inom milj&ouml;omr&aring;det, <i>annuitet</i> inom bankv&auml;sendet eller <i>freemover-student</i>
        inom h&ouml;gskolev&auml;rlden
    </p></li>

    <li><p>beh&ouml;ver en vedertagen definition
        av ett begrepp, t.ex. <i>glaci&auml;r</i> inom geovetenskapen</p></li>

    <li><p>vill veta vilken skillnaden mellan tv&aring; begrepp &auml;r, t.ex. mellan <i>sladdl&ouml;s</i>
        och <i>tr&aring;dl&ouml;s kommunikation</i></p></li>

    <li><p>letar efter en engelsk (fransk, tysk, finsk ...) motsvarighet till
        en svensk term, t.ex. <i>spackla </i>inom m&aring;leribranschen</p></li>

    <li><p>vill veta vad en term ska heta p&aring; svenska, t.ex. <i>thermal
        bridge</i> inom byggbranschen</p></li>

    <li><p>vill veta hur en f&ouml;rkortning ska uttydas, t.ex. <i>ADL</i> inom
        h&auml;lso- och sjukv&aring;rden.</p></li>
</ul>

<p>All den information du f&aring;r fram i Rikstermbanken r&ouml;r
    fackspr&aring;k. Det inneb&auml;r att varje begrepp som ing&aring;r i Rikstermbanken h&ouml;r till
    ett eller flera &auml;mnesomr&aring;den.

    Ambitionen &auml;r att t&auml;cka in ett s&aring; brett
    spektrum av &auml;mnesomr&aring;den som m&ouml;jligt. D&auml;rf&ouml;r inneh&aring;ller Rikstermbanken
    <a class="underlined" href="#terminologier">terminologi</a> fr&aring;n stora omr&aring;den som ekonomi, h&auml;lso-
    och sjukv&aring;rd,
    juridik och teknik
    men &auml;ven fr&aring;n andra sn&auml;va omr&aring;den som osttillverkning, j&auml;rnframst&auml;llning,
    musiketnologi och arkivkunskap.
</p>

<p>I Rikstermbanken finns
    terminologiska ordlistor fr&aring;n Terminologicentrum
    TNC och ett stort antal fackspr&aring;kliga ordlistor fr&aring;n andra myndigheter
    och organisationer. Dessutom inneh&aring;ller Rikstermbanken termer och
    definitioner h&auml;mtade fr&aring;n f&ouml;rfattningar, f&ouml;reskrifter och Statens offentliga
    utredningar (SOU). Den &ouml;verv&auml;gande delen av materialet i Rikstermbanken &auml;r
    n&auml;mligen resultatet av ett m&aring;ng&aring;rigt arbete av experter inom olika &auml;mnesomr&aring;den
    och i m&aring;nga fall ocks&aring; av experter tillsammans med terminologer som anv&auml;nt
    bepr&ouml;vade metoder och principer i sitt arbete.

</p>

<p>

</p>

<p>&nbsp;</p>

<a name="bakgrund"></a>

<h2>Bakgrunden till Rikstermbanken</h2>

<p>I takt med den stegvisa utvecklingen mot en e-f&ouml;rvaltning
    &ouml;kar behovet av gemensamma och v&auml;ldefinierade begrepp och termer &#x2013; s&auml;rskilt av
    myndighetsgemensamma begrepp. Som ett steg i riktning mot att m&ouml;ta detta behov
    beslutade regeringen den 30 mars 2006 att l&aring;ta bygga en nationell termbank.
    Regeringen gav detta uppdrag till Terminologicentrum TNC, som arbetat med
    insamling av terminologi sedan 1940-talet och med termbanksuppbyggnad och
    termbanksutveckling sedan slutet av 1960-talet.</p>

<p>
    &#x2013; En bra utformad och kvalitetss&auml;krad termbank kommer att bli ett effektivt
    verktyg f&ouml;r b&aring;de f&ouml;retag och myndigheter samt f&ouml;r utvecklingen av nya
    IT-tj&auml;nster, sa d&aring;varande infrastrukturminister Ulrica Messing i en kommentar
    till beslutet.</p>

<p>Beslutet om ett bidrag till Terminologicentrum f&ouml;r
    uppbyggnaden av en rikstermbank &auml;r en f&ouml;ljd av de f&ouml;rslag som las fram i den
    IT-politiska propositionen <i>Fr&aring;n IT-politik f&ouml;r samh&auml;llet till politik f&ouml;r
    IT-samh&auml;llet</i> (Regeringens proposition 2004/05:175). D&auml;ri framh&aring;lls att
    entydig och l&auml;ttillg&auml;nglig terminologi &auml;r ett n&ouml;dv&auml;ndigt redskap f&ouml;r att IT ska
    kunna utnyttjas effektivt i olika typer av verksamheter och aff&auml;rsprocesser.</p>

<p>Ocks&aring; i den spr&aring;kpolitiska propositionen <em>B&auml;sta
    spr&aring;ket &#x2013; en samlad svensk spr&aring;kpolitik</em> (proposition 2005/06:2)
    framh&aring;lls vikten av en central termbank:

    &#x201d;En bra utformad och kvalitetss&auml;krad termbank kan p&aring; sikt&nbsp;bli ett
    effektivt verktyg f&ouml;r fackexperter, medier, f&ouml;retag, myndigheter, universitet
    och h&ouml;gskolor och &ouml;vers&auml;ttare, som snabbt kan beh&ouml;va f&aring; tillg&aring;ng till aktuell
    svensk terminologi, samt f&ouml;r utvecklingen av nya IT-tj&auml;nster. I arbetet med en
    central termbank &auml;r det viktigt att myndigheterna ocks&aring; medverkar. Det b&ouml;r
    d&auml;rf&ouml;r i myndigheternas spr&aring;kv&aring;rdsarbete ing&aring; ett ansvar f&ouml;r begrepp och termer
    inom det egna verksamhetsomr&aring;de.&#x201d;</p>

<p>&nbsp;</p>

<a name="nyttan"></a>

<h2>Nyttan med Rikstermbanken</h2>

<p>F&ouml;r f&ouml;rsta g&aring;ngen kommer en
    nationell termbank att finnas i Sverige, l&auml;tt &aring;tkomlig f&ouml;r alla. Det finns
    m&aring;nga f&ouml;rdelar med att ha en omfattande terminologisamling fritt tillg&auml;nglig p&aring;
    webben. H&auml;r f&ouml;ljer n&aring;gra av de viktigaste:</p>

<ul>
    <li><p>Rikstermbanken ger enklare och snabbare &aring;tkomst till terminologi
        inom m&aring;nga fackomr&aring;den. Du beh&ouml;ver allts&aring; inte s&ouml;ka p&aring; flera
        st&auml;llen. </p></li>

    <li><p>Rikstermbanken m&ouml;jligg&ouml;r snabbare spridning av nya termer och
        begrepp. </p></li>

    <li><p>Rikstermbanken blir ett viktigt redskap f&ouml;r s&ouml;kning och lagring
        av terminologi, f&ouml;r terminologiarbete och f&ouml;r forskning. </p></li>

    <li><p>Rikstermbanken underl&auml;ttar samordning och harmonisering av
        terminologi, inte minst myndigheternas gemensamma terminologi. Detta betyder sparad tid, sparade pengar och
        viktigast av allt: b&auml;ttre samf&ouml;rst&aring;nd.</p></li>
</ul>
<p>&nbsp;</p>

<a name="termerOchBegrepp"></a>

<h2>Om termer och begrepp</h2>

<p>N&auml;r man talar om <i>termer</i>
    och <i>begrepp</i> ur terminologiskt perspektiv (det &auml;r det perspektiv som b&ouml;r
    anv&auml;ndas n&auml;r man skapar termbanker) menar man ungef&auml;r f&ouml;ljande:</p>


<p>Begreppen skapas i m&auml;nniskans tanke- och
    kunskapsv&auml;rld och avspeglar f&ouml;reteelser i verkligheten som vi k&auml;nner till
    (f&ouml;rem&aring;l, v&auml;sen, h&auml;ndelser, processer, egenskaper osv.). F&ouml;r att vi ska kunna
    tala och skriva om dem beh&ouml;ver vi ben&auml;mna dem och beskriva dem. Vi anv&auml;nder ord
    f&ouml;r att ben&auml;mna begrepp i v&aring;rt vardagliga liv. Men om det r&ouml;r sig om att
    ben&auml;mna begrepp inom ett &auml;mnesomr&aring;de anv&auml;nder vi s&auml;rskilda ord och uttryck &#x2013;
    termer. Alla termer &auml;r allts&aring; ord, eller r&auml;ttare sagt de best&aring;r av ett eller
    flera ord, men alla ord &auml;r inte termer.</p>

<p>Termer beh&ouml;vs fr&auml;mst f&ouml;r att man i sin
    yrkesut&ouml;vning ska kunna uttrycka sig noggrant och kommunicera utan
    missf&ouml;rst&aring;nd. Kommunikationen sker i m&aring;nga olika led: inom en yrkesgrupp eller
    akademisk milj&ouml;, mellan en yrkesgrupp och omv&auml;rlden, mellan olika yrkesgrupper,
    mellan fackm&auml;n och lekm&auml;n (t.ex. mellan l&auml;kare och patienter, myndigheter och
    allm&auml;nheten). D&auml;rf&ouml;r &auml;r det viktigt att alla kommunikationsparter anv&auml;nder
    samma termer f&ouml;r samma begrepp. Detta kan man &aring;stadkomma genom att samla termer
    och beskriva begreppen bakom termerna p&aring; ett enhetligt s&auml;tt.</p>

<a name="definition"></a>

<p>Det finns olika s&auml;tt att beskriva begrepp p&aring;.
    Om vi vill f&ouml;rklara begreppet &#x201d;bil&#x201d; f&ouml;r en ett&aring;ring kan vi peka p&aring; en bild av
    en bil eller p&aring; en riktig bil. Om vi beh&ouml;ver klarg&ouml;ra ett komplicerat begrepp
    inom ett &auml;mnesomr&aring;de &auml;r det m&aring;nga g&aring;nger viktigt att beskriva begreppet p&aring; ett
    s&auml;tt som hj&auml;lper till att avgr&auml;nsa det mot andra begrepp. Detta kan vi g&ouml;ra
    genom att n&auml;mna viktiga egenskaper hos den f&ouml;reteelse i verkligheten som
    begreppet anknyter till. F&ouml;r att skilja t.ex. renovering och restaurering
    fr&aring;n varandra &#x2013; b&aring;da utg&ouml;r ett slags f&ouml;r&auml;ndring av en byggnad till ett b&auml;ttre
    skick &#x2013; kan vi s&auml;ga att man renoverar till nytt skick men restaurerar till ursprungligt skick. En
    muntlig eller skriftlig beskrivning av
    begreppet som ska hj&auml;lpa till att avgr&auml;nsa begreppet mot andra begrepp kallas
    f&ouml;r en <i>definition</i>.</p>

<p>S&aring; h&auml;r ser definitionerna av begreppen renovering och
    restaurering ut i Rikstermbanken:</p>

<table cellpadding="4px">
    <tr>
        <td>TERM</td>
        <td><b>renovering</b></td>
    </tr>
    <tr>
        <td valign="top">DEFINITION</td>
        <td>f&ouml;r&auml;ndring av en byggnad, en byggnadsdel, en
            installation e.d. till ett skick som ur funktionssynpunkt &auml;r j&auml;mf&ouml;rbart med
            nytt skick
        </td>
    </tr>
    <tr>
        <td>K&Auml;LLA</td>
        <td>Terminologicentrum
            TNC: Byggekonomiska termer | 1999
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>TERM</td>
        <td><b>restaurering</b></td>
    </tr>
    <tr>
        <td valign="top">DEFINITION</td>
        <td>f&ouml;r&auml;ndring av en byggnad, en byggnadsdel e.d. s&aring; att
            den med avseende p&aring; material och utseende motsvarar det ursprungliga skicket
            eller ett visst f&ouml;rutvarande skick
        </td>
    </tr>
    <tr>
        <td>K&Auml;LLA</td>
        <td>Terminologicentrum
            TNC: Byggekonomiska termer | 1999
        </td>
    </tr>
</table>
<p>&nbsp;</p>

<a name="terminologier"></a>

<h2>Terminologier och
    terminologiska ordlistor</h2>

<p>En upps&auml;ttning termer
    som ben&auml;mner begrepp inom ett &auml;mnesomr&aring;de kallas f&ouml;r en <i>terminologi</i>. Vi
    kan tala om matematisk terminologi, kemisk terminologi eller spr&aring;kvetenskaplig
    terminologi. D&aring; menar vi allts&aring; de s&auml;rskilda termer och begrepp som anv&auml;nds i
    dessa olika &auml;mnesomr&aring;den.</p>

<p>Terminologin inom ett eller flera &auml;mnesomr&aring;de
    kan presenteras i n&aring;gon form av terminologisamling: en terminologisk ordlista,
    en termbank eller en flerspr&aring;kig ordbok. Terminologiska ordlistor t&auml;cker ofta
    ett eller flera n&auml;raliggande &auml;mnesomr&aring;den. De utarbetas vanligtvis av
    terminologer i samr&aring;d med experter inom &auml;mnesomr&aring;det. Begreppen i en
    terminologisk ordlista presenteras i <i>termposter</i>, som best&aring;r av
    begreppsbeskrivningar, fr&auml;mst i form av definitioner, och begreppsben&auml;mningar,
    i form av termer p&aring; ett eller flera spr&aring;k. <i>Byggekonomiska termer</i>, som
    n&auml;mns ovan, &auml;r ett exempel p&aring; en terminologisk ordlista.</p>

<p>&nbsp;</p>

<a name="lasMer"></a>

<h2>Publicerat om Rikstermbanken</h2>

<ul>
    <li>Facköversättaren, nr 2 2009, "Rikstermbanken - en ny guldgruva för översättare!", s. 10--11, <a
            href="http://www.thecart.se/Filer/fackoversattaren_09_02.pdf">http://www.thecart.se/Filer/fackoversattaren_09_02.pdf</a>
    </li>
    <li>Eleto 7th Conference. 2009 ”The realisation of a national term bank - how and why?” (Athens, Greece, 22-24
        October 2009), <a
            href="http://www.eleto.gr/download/Conferences/7th%20Conference/7th_26-26-NilssonHenrik_Paper_V03.pdf">http://www.eleto.gr/download/Conferences/7th%20Conference/7th_26-26-NilssonHenrik_Paper_V03.pdf</a>
        [engelska]
    </li>
    <li>Klarspråksbulletinen, nr 4 2008,"2009 - ett terminologiskt år" <a href="http://www.sprakradet.se/3433">http://www.sprakradet.se/3433</a>
    </li>
    <li>Klarspråksbulletinen, nr 2 2011, "Använd termer på svenska!" <a href="http://www.sprakradet.se/10771">http://www.sprakradet.se/10771</a>
    </li>
    <li>Nordterm 14: Ord og termer, 2005. TISS & IATE. "Svensk terminologisk infrastruktur och svensk rikstermbank”.
        ISBN: 9979-842-85-7
    </li>
    <li>Nordterm 15: Kunnskap og fagkommunikasjon, 2007, Nilsson, H. & Dobrina, C. "Koll på innehåll -- vad ska in i en
        nationell termbank?", <a href="http://www.nordterm.net/info/Publ/Nordterm15.pdf">http://www.nordterm.net/info/Publ/Nordterm15.pdf</a>
    </li>
    <li>Nordterm 16: Ontologier og taksonomier, 2009, Nilsson, H. & Dobrina, C. "Koll på innehåll igen: Vad har kommit
        med i Rikstermbanken?" [pdf]
    </li>
    <li>Terminology and Society, 2006: ”Towards a national terminology infrastructure - the Swedish experience”. IN:.
        Amsterdam: John Benjamin. ISBN 978-9027223371
    </li>
    <li>Språkbruk, nr 4 2008, "Den svenska Rikstermbanken öppnas snart!"</li>
    <li>Språkbruk, nr 2 2011, "Två år med Rikstermbanken - vad händer nu?"</li>
    <li>TermInfo, nr 2 2009, "Rikstermbanken - nu har den öppnat!" <a
            href="http://www.tsk.fi/tsk/node/469#rikstermbanken">http://www.tsk.fi/tsk/node/469#rikstermbanken</a>
        (engelska)
    </li>
    <li>Terminologija 14, 37-48, 2007. "Terminology work: the Swedish way" <a
            href="http://www.lki.lt/LKI_EN/index.php?option=com_content&view=article&id=108">http://www.lki.lt/LKI_EN/index.php?option=com_content&view=article&id=108</a>
        [engelska]
    </li>
</ul>



{% endblock %}
